In [28]:
pip install nltk

Requirement already satisfied: nltk in /Users/kin/opt/anaconda3/lib/python3.7/site-packages (3.4.5)
Requirement already satisfied: six in /Users/kin/opt/anaconda3/lib/python3.7/site-packages (from nltk) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import csv
import pandas
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /Users/kin/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [4]:
with open('../full_word_list.txt/full_word_list.txt', newline='') as csvfile:
    cfile = csv.reader(csvfile, delimiter='<SEP>', quotechar='|')
#not working

TypeError: "delimiter" must be a 1-character string

In [39]:
df = pandas.read_csv('../full_word_list.txt/full_word_list.txt', sep = "<SEP>", engine='python', comment='#', names=['word','count'])

In [40]:
df

                word    count
0                  i  2078808
1                the  1863782
2                you  1744257
3                 to  1067578
4                and  1055748
...              ...      ...
498129             ﬁ        1
498130           ﻿if        1
498131    ｢ただのマイリー」と        1
498132  ｢どうしたんだ｣と聞いた        1
498133    ｢何を考えてる｣って        1

[498134 rows x 2 columns]

In [23]:
df.to_csv('full_word_list_fixed.csv', sep='\t', index=False, header=['term', 'count'])

In [53]:
len(set(stopwords.words('english')))

179

In [47]:
df[df['count'] < 10]

                word  count
67795          $1000      9
67796            006      9
67797            10p      9
67798            10s      9
67799          12345      9
...              ...    ...
498129             ﬁ      1
498130           ﻿if      1
498131    ｢ただのマイリー」と      1
498132  ｢どうしたんだ｣と聞いた      1
498133    ｢何を考えてる｣って      1

[430339 rows x 2 columns]

In [55]:
df[~df['word'].isin(stopwords.words('english'))]

                word   count
25              love  298043
28              know  273137
33              like  227624
38               get  192961
40                go  182812
...              ...     ...
498129             ﬁ       1
498130           ﻿if       1
498131    ｢ただのマイリー」と       1
498132  ｢どうしたんだ｣と聞いた       1
498133    ｢何を考えてる｣って       1

[497934 rows x 2 columns]